.textoLegal {
    color: var(--preto);
    font-size: 14px;
    height: 80px;
    left: 165px;
    line-height: 19px;
    margin-bottom: 65.5px;
    margin-left: 165px;
    top: 1829.5px;
    width: 1110px;
}