.video-titulo {
    color: var(--preto);
    font-size: 24px;
    font-weight: 700;
    height: 33px;
    left: 164px;
    line-height: 33px;
    margin-bottom: 36px;
    margin-top: 40px;    
    top: 1068px;
    width: 363px;
}